body{
    background-image: url(https://cdn.wallpapersafari.com/22/32/RWg5f1.png);
}

.container{
    width: 35vw;
}


#resultado{

    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    background-color: black;
    color: white;
    margin-top: 30px;
    border-radius: 20px;
    height: 9vh;
}

.resultado1, .valor-actual{
    margin: 0;
    font-size: 30px;
}

.col-3, .col-6{
    padding: 0;
}

.btn {
    width: 100%;
    background-color: green;
    margin: 0px;
    border: 1px solid black;

}

.row{
    margin: 0;
}